[project]
name = "02-workflow-orchestration-airflow"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "apache-airflow>=3.1.6",
    "apache-airflow-providers-google>=19.4.0",
]
